@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-stone-50 text-stone-900 font-body;
}

.glass {
  @apply bg-white/10 backdrop-blur-md border border-white/20;
}
